<h1 style="text-align: center; margin: 0; text-decoration: underline #9BE5AA; background-color: #e4e4e4; padding: 10px;">{{ title }}</h1>
<br>
<form *ngFor="let movie of movies" class="text-center">
  <h3>{{ movie.name }}</h3>

  <div style="display: flex;">
    <img [src]="movie.img" style="max-height: 250px; margin: auto;">
  </div>

  <br>
  <h3>Entradas Disponibles: {{ movie.available }}</h3>
  <h4 *ngIf="movie.available === 0">No hay entradas disponibles!</h4>

  <div style="display: flex;">
    <button [disabled]="movie.available<1" type="button" (click)="buyTicket(movie.name)" class="form-control m-auto" style="max-width: 120px;">
      Comprar
    </button>
  </div>

  <hr>
</form>

<style>
  * {
    font-family: 'Nunito', sans-serif;
  }
</style>